.agents {
    padding-bottom: 85px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lighten($color: $color-gray, $amount: 30%);

    @include lg-md {
        padding-bottom: 45px;
    }
    
    .agents-labels {

        .label {
            padding-top: 65px;

            @include lg-md {
                padding-top: 35px;
            }
        }

        .description {
            margin-bottom: 45px;
            width: 410px;
            font-size: 13px;
            line-height: 1.8rem;

            @include lg-md {
                margin-bottom: 25px;;
            }
        }
    }

    .agents-cards {
        display: flex;

        @include xl-lg {
            flex-wrap: wrap;
        }

        @include lg-md {
            flex-wrap: wrap;
        }

        @include md-sm {
            flex-wrap: wrap;
        }

        &__wrapper {
            margin: 10px;
            background-color: $color-white;

            @include lg-md {
                margin: 7px;
            }

            .image {
                height: 380px;
                background-color: $color-gray;

                @include lg-md {
                    height: 320px;
                }
            }

            .descriptions {
                margin: 25px 0 25px 30px;
                font-size: 15px;
            }

            .wrapper {
                display: flex;
                justify-content: space-between;
                margin-left: 25px;
                margin-right: 20px;
                margin-bottom: 30px;
                

                .name {
                    font-size: 15px;
                    color: $color-yellow;
                    cursor: pointer;
                }

                .wrapper-icons {
                    display: flex;

                    .iconFirst {
                        margin-left: 20px;
                        height: 20px;
                        width: 20px;
                        background-image: url(../img/faceBook.png);
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }

                    .iconSecond {
                        margin-left: 20px;
                        height: 20px;
                        width: 20px;
                        background-image: url(../img/twitter.png);
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }

                    .iconThird {
                        margin-left: 20px;
                        height: 20px;
                        width: 20px;
                        background-image: url(../img/composit.png);
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}