$color-dark-blue: #1F373D;
$color-gray-white: #96BECE;
$color-gray: #9A99AA;
$color-black: #010B13;
$color-white: #FFFFFF;
$color-yellow: #FFCC01;

$font-size: 13px;

$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 576px;
$xs: 360px;

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("opentype");
}

