/* xl */
/* lg */
/* md */
/* sm */
/* xs */
body {
  margin: 0 auto;
  max-width: 1111px;
}

h1 {
  margin: 0;
  padding: 0;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
}

.header .header-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 28px;
}

.header .header-navbar__name {
  margin-left: 5px;
}

.header .header-navbar__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header .header-navbar__links .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.header .header-navbar__links .links .link {
  padding: 0 26px 0 20px;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.header .header-navbar__links .links .link:hover {
  background-color: #FFFF00;
}

.header .header-homepage {
  height: 200px;
  width: 100%;
  background-color: #19232A;
}
